{% extends 'base.html' %}



{% block content %}
        <div>
            <h1>Create a new list</h1>
            <form method="post">
                {% csrf_token %}
                {{ todolist_form.as_p }}
                <button>Create</button>
            </form>
        </div>
{% endblock content %}