{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Are you sure?</h1>
    <form method="post">
        {% csrf_token %}
        {{ todolist_form.as_p }}
        <button>Delete</button>
    </form>
</div>
{% endblock content %}