{% extends 'base.html' %}

{% block content %}
<div>
    <h1>{{ todo_list_detail.name }}</h1>
    <p>
        <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
    </p>
    <p>
        <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
    </p>
    <h2>Tasks</h2>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in todo_list_detail.items.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_item_update' todo_list_detail.id %}">{{ item.task }}</a>
                    </td>
                    <td>{{ item.due_date|date:"M d, Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}