{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Update list</h1>
    <form method="post">
        {% csrf_token %}
        {{ todolist_form.as_p }}
        <button>Update</button>
    </form>
</div>
{% endblock content %}