{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Update item</h1>
    <form method="post">
        {% csrf_token %}
        {{ createitem_form.as_p }}
        <button>Update</button>
    </form>
</div>
{% endblock content %}